#hero-selection {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 55%;
  overflow-x: hidden;
  overflow-y: auto;
  gap: 1rem;
}

#selected-hero-display {
  display: flex;
  position: relative;
  flex-direction: row;
  padding-top: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
  height: 135px;
  gap: 0.1rem;
  background-color: rgba(0, 0, 0, 0.473);
}

.hero-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: rgba(48, 34, 4, 0.13);
  font-size: 0.6rem;
  border-radius: 1rem;
  padding: 0.4rem;
  width: 45%;
  height: 180px;
  transition: background 0.2s, transform 0.2s;
}

.hero-card-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: rgba(48, 34, 4, 0.13);
  font-size: 0.6rem;
  border-radius: 1rem;
  padding: 0.4rem;
  width: 23%;
  height: 110px;
  transition: background 0.2s, transform 0.2s;
}

.hero-card input[type="checkbox"] {
  transform: scale(1.3);
  margin-bottom: 0.5rem;
}

.hero-card input[type="checkbox"]:checked + label {
  background-color: rgba(133, 75, 42, 0.507);
  border-radius: 0.5rem;
  padding: 0.25rem;
  transform: scale(1.05);
}

.hero-card input:disabled + label {
  opacity: 0.4;
  cursor: not-allowed;
}

.hero-display-box {
  display: flex;
  width: 90px;
  height: 90px;
  border: 2px yellow;
  border-radius: 0.25rem;
  background-color: rgba(241, 237, 233, 0.178);
}

.select {
  display: flex;
  width: 100%;
  height: 10%;
}