@import url("../css/cards.css");
@import url("../css/dialouge.css");
@import url("../css/notification.css");
@import url("../css/map.css");
@import url("../css/headerStyles/header.css");
@import url("../css/modalStyles/modal.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* z-indexes 
  headers: 30 - 39
  equipments: 40 - 45
*/

:root {
  /* Backgrounds */
  --bg-background: rgb(19, 18, 24);
  --bg-main: #0E1117;      /* main screen background */
  --bg-panel: #2b2315e0;    /* panels / cards */

  /* Accents */
  --accent-gold: #E6C15A; /* RPG gold */
  --accent-soft: #C9B46A;

  /* Text */
  --text-main: #F2F2F2;
  --text-muted: #A0A6B3;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--bg-background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}


#game-wrapper {
  display: flex;
  flex-direction: column;

  width: min(90vw, 800px);
  aspect-ratio: 16 / 9;

  background-color: var(--bg-main);
  padding: 0.5rem;
  border-radius: 1rem;

  overflow: hidden;
  position: relative;

  min-width: 320px;
  max-height: 450px;
}



#game-view {
  display: flex;
  position: relative;

  width: 100%;
  height: 100%;

  background-color: var(--bg-panel);

  padding: 0.75rem;
  border-radius: 1rem;

  overflow: hidden;
}



.default-button {
  display: flex;

  align-items: center;
  justify-content: center;

  background-color: #0E1117;
  color: goldenrod;

  padding: 4px 6px;

  min-width: 120px;
  min-height: 40px;

  font-size: 0.85rem;
  text-align: center;
}



@media (max-width: 768px) {

  .default-button {
    min-width: 100px;
    min-height: 34px;
    font-size: 0.8rem;
  }

  .modal {
    width: 90%;
    padding: 0.6rem;
  }

}


@media (max-width: 480px) {

  .default-button {
    min-width: 90px;
    min-height: 30px;
    font-size: 0.75rem;
  }

}

@media (orientation: portrait) {

  #game-wrapper {
    width: 95vw;
    aspect-ratio: 9 / 16;
    max-height: none;
  }

}

/** text */
h1 {
  font-size: 24px;
  color: var(--accent-gold);
}

h3 {
  font-size: 16px;
  color: var(--accent-gold);
}

p {
  font-size: 14px;
  color: var(--text-muted);
}

.flex {
  display: flex;
}

.full {
  display: flex;
  width: 100%;
  height: 100%;
}

.w-full {
  width: 100%;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.gap {
  gap: 1rem;
}

.in-center {
  align-items: center;
  justify-items: center;
}

.in-start {
  align-items: start;
  justify-items: start;
}

.panel {
  background-color: var(--bg-panel);
}

.tl {
  text-align: left;
  width: full;
}

.padding-10{
  padding: 10px;
}

.text-red{
  color: rgb(228, 68, 68);
}
.text-blue {
  color: rgb(72, 72, 236);
}
.text-green {
  color: rgb(131, 223, 131);
}
.text-normal {
  color: goldenrod;
}