@import url("../css/cards.css");
@import url("../css/dialouge.css");
@import url("../css/notification.css");
@import url("../css/map.css");
@import url("../css/headerStyles/header.css");
@import url("../css/modalStyles/modal.css");
@import url("../css/scenes/scenes.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* z-indexes 
  headers: 30 - 39
  equipments: 40 - 45
*/

:root {
  /* Backgrounds */
  --bg-background: rgb(19, 18, 24);
  --bg-main: #0E1117;      /* main screen background */
  --bg-panel: #2b2315e0;    /* panels / cards */

  /* Accents */
  --accent-gold: #E6C15A; /* RPG gold */
  --accent-soft: #C9B46A;

  /* Text */
  --text-main: #F2F2F2;
  --text-muted: #A0A6B3;

  /* scroll bar */
  --scrollbar-bg: transparent;
  --scrollbar-track: transparent;
  --scrollbar-thumb: #a0a0a0;
  --scrollbar-thumb-hover: #808080;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--bg-background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  font-family: "Cinzel", cursive;
}

/* font */
.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.cinzel-400 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cinzel-900 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

#game-wrapper {
  display: flex;
  flex-direction: column;

  width: min(90vw, 1200px);
  aspect-ratio: 4 / 3;

  background-color: var(--bg-main);
  padding: 0.5rem;
  border-radius: 1rem;

  overflow: hidden;
  position: relative;
  gap: 0.25rem;
  max-width: 820px;
  max-height: 80vh;
}


/* z-index 1-10 */

#game-header {
  z-index: 5;
}
#game-view {
  z-index: 4;
}
#modal-root {
  z-index: 6;
}
#game-notif-modal{
  z-index: 7;
}
#modal-root{
  z-index: 8;
}
#game-loader {
  z-index: 9;
}

#game-header {
  justify-content: end;
  align-items: center;
  display: flex;
  gap: 0.75rem;
  width: 90vw;
  max-width: 800px;
  height: 10vh;
  min-height: 80px;
  background-color: var(--bg-panel);
  border-radius: 1rem;
  padding: 0.75rem;
  padding-right: 1rem;
  border: white 2px solid;
  border-radius: inherit;
  z-index: 5;
  color: var(--accent-gold);
}

#game-view {
  display: flex;
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: var(--bg-panel);
  padding: 0.75rem;
  border-radius: 1rem;
  overflow: hidden;
  border: white 2px solid;
  border-radius: inherit;
}

.default-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0E1117;
  color: goldenrod;
  padding: 4px 6px;
  min-width: 120px;
  min-height: 40px;
  font-size: 0.85rem;
  text-align: center;
}


/** text */
h1 {
  font-size: 24px;
  color: var(--accent-gold);
}

h3 {
  font-size: 18px;
  color: var(--accent-gold);
}

p {
  font-size: 1rem;
  color: var(--text-main);
}

.flex {
  display: flex;
}

.full {
  display: flex;
  width: 100%;
  height: 100%;
}

.w-full {
  width: 100%;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.gap {
  gap: 1rem;
}

.in-center {
  display: flex;
  align-items: center;
  justify-items: center;
}

.in-start {
  align-items: start;
  justify-items: start;
}

.text-center {
  text-align: center;
}

.panel {
  background-color: var(--bg-panel);
}

.tl {
  text-align: left;
  width: full;
}

.padding-10{
  padding: 10px;
}

.text-red{
  color: rgb(228, 68, 68);
}

.text-blue {
  color: rgb(72, 72, 236);
}

.text-green {
  color: rgb(131, 223, 131);
}

.text-normal {
  color: goldenrod;
}

@media (max-width: 768px) {
  
  #game-wrapper {
    width: 95vw;
    aspect-ratio: 4 / 3;
    max-height: none;
  }

  .default-button {
    min-width: 100px;
    min-height: 34px;
    font-size: 0.8rem;
  }

  .modal {
    width: 90%;
    padding: 0.6rem;
  }

  h1 {
  font-size: 16px;
  color: var(--accent-gold);
  }

  h3 {
    font-size: 12px;
    color: var(--accent-gold);
  }

  p {
    font-size: 0.85rem;
    color: var(--text-main);
  }
}

@media (max-width: 480px) {

  .default-button {
    min-width: 90px;
    min-height: 30px;
    font-size: 0.75rem;
  }

}

@media (orientation: portrait) {

  #game-wrapper {
    width: 95vw;
    aspect-ratio: 9 / 16;
    max-height: none;
  }

}


/* miscellaneous */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 999px;
  border: 2px solid transparent; /* creates padding effect */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}